{% extends "comun/base.html" %}
{% load comun_filters %}

{% block content %}

<h2>Glosario de términos</h2>

<table class="table">
  <thead>
    <tr>
        <th>Término</th>
        <th>Descripción</th>
        <th>Fuente</th>
    </tr>  
  </thead>  
  {% for termino in terminos.all %}
    <tr>
      <th>
        <b>{{ termino.entrada }}</b>
      </th>
      <td>{{ termino.descripcion|as_markdown }}</td>
      <td>
        <code>
          {{ termino.fuente }}
        </code>
      </td>
    </tr>
  {% endfor %}
</table>
  
{% endblock content %}
