{% load static comun_filters sistemas %}

<div class="card m-1">
  <div class="card-header">
      <h4 class="card-title">
        Clasificación
      </h4>
  </div>
  <div class="card-body">
  <table class="table table-hover">
    <tr>
      <th>Estado</th>
      <td>{{ sistema.get_estado|as_status_desc }}</td>
      <td>
        <img src="{% static sistema.get_estado|as_status_icon %}"
             width="48" height="48">
      </td>
    </tr>  

    <tr>
      <td>
        Área temática
      </td>
      <td>
        {{ sistema.tema|as_tema }}
      </td>
      <td>
        <a class="btn btn-warning"
          href="{% url 'sistemas:asignar_tema' sistema=sistema %}"
          title="Asignar tema" >
          <i class="bi bi-bookmark"></i>
        </a>
      </td>
    </tr>

    <tr>
      <td>
        Familia
      </td>
      <td>
        {{ sistema.familia|as_familia }}
      </td>
      <td>
        <a class="btn btn-warning"
           href="{% url 'sistemas:asignar_familia' sistema=sistema %}"
           title="Asignar familia">
          <i class="bi bi-folder"></i>
        </a>
      </td>
    </tr>

    <tr>
      <th>Organismo</th>
      <td>
        {% if sistema.organismo %}
          <a href="{% url 'sistemas:detalle_organismo' organismo=sistema.organismo %}">
          {{ sistema.organismo }}
          </a>
        {% else %}  
          <i class="bi bi-exclamation-diamond"></i>
          <i class="pendiente">Sin asignar</a>
        {% endif %}
      </td>
      <td>
          <a class="btn btn-warning"
              href="{% url 'sistemas:asignar_organismo' sistema=sistema %}"
              title="Asignar a organismo"
              >
              <i class="bi bi-diagram-3-fill"></i>
          </a>
      </td>
    </tr>

    <tr>
      <th>Es transversal</th>
      <td>{{ sistema.es_transversal|as_boolean }} </td>
      <td>
        <a class="btn btn-warning"
           href="{% url 'sistemas:conmutar_campo' sistema=sistema campo='es_transversal' %}"
            title="Conmutar valor">
        {% if sistema.es_transversal %}
          <i class="bi bi-toggle-on"></i>
        {% else %}
          <i class="bi bi-toggle-off"></i>
        {% endif %}
        </a>
      </td>
    </tr>
      
    <tr>
      <th>Es de especial importancia</th>
      <td>{{ sistema.tiene_especial_importancia|as_boolean }}</td>
      <td>
        <a class="btn btn-warning"
            href="{% url 'sistemas:conmutar_campo' sistema=sistema campo='tiene_especial_importancia' %}"
            title="Conmutar valor"
            >
        {% if sistema.tiene_especial_importancia %}
          <i class="bi bi-toggle-on"></i>
        {% else %}
          <i class="bi bi-toggle-off"></i>
        {% endif %}
        </a>
      </td>
    </tr>
      
{% if sistema.es_subsistema_de %}
    <tr>
      <th>Es subsistema de</th>
      <td>
        <a href="{{ sistema.es_subsistema_de.url_detalle_sistema}}">
          {{ sistema.es_subsistema_de.codigo }}
        </a>  
      </td>
      <td></td>
    </tr>
{% endif %}
      
{% if sistema.subsistemas.exists %}
  {% for subsistema in sistema.subsistemas.all %}
    <tr>
      <th>
        {% if forloop.first %}Subsistemas{% endif %}
      </th>    
      <td>
        <a href="{{ subsistema.url_detalle_sistema }}">
        {{ subsistema.codigo }}
        </a>
      </td>
      <td></td>
    </tr>  
  {% endfor %}  
{% endif %}

  </table>
  </div>
</div>  
