{% load comun_filters %}
<div class="card p-2 shadow">
  <div class="row">

    <div class="col-9 text-start">
      <span class="sistema-codigo">{{ sistema.codigo }}</span> {% include "sistemas/includes/pb-editar-codigo.html" %}
      <br><span class="sistema-nombre">{{ sistema.nombre_sistema }}</span> {% include "sistemas/includes/pb-editar-nombre.html" %}
      {{ sistema.finalidad|as_markdown }}
      {% if sistema.etapa == 'E' %}
      <span class="etapa">{{ sistema.get_etapa_display }}</span>
      {% endif %}
    </div>    

    <div class="col-3 text-end">
      {% if sistema.icono %}
      <img width="96" align="right" height="96" class="d-block mx-auto mb-4"
          src="{{ sistema.icono.url }}"
          alt="{{ sistema }}">
      {% else %}
      <a class="bnt btn-sm" href="{% url 'sistemas:asignar_icono' sistema=sistema %}">
        Asignar icono
      </a>
      {% endif %}
    </div>
  </div>
</div>
