{% load sistemas %}

<div class="card m-2">
  <div class="card-header">
      <h4 class="card-title">
          Editar finalidad del sistema {{ sistema }}
      </h4>
  </div>
  <div class="card-body">
      <p class="card-text">
        {{ sistema.finalidad|as_finalidad }}    
      </p>
  </div>
  <div class="card-footer d-flex flex-row-reverse">
      <a class="btn btn-warning"
         href="{% url 'sistemas:editar_finalidad' sistema=sistema.pk %}">
      <i class="bi bi-pencil"></i>
      Editar finalidad
      </a>
  </div>
</div>

