{% load sistemas comun_filters %} 

<div class="card m-1">
  <div class="card-header bg-primary text-white">
    <h3 class="card-title">Identificación</h3>
  </div>  
  <div class="card-body">
    <dl>
        <dt>UUID
          <span class="float-end">
          <button class="btn btn-info btn-sm" onclick="copyClaveExterna()">
              <i class="bi bi-clipboard-plus"></i>
             <span class="d-none d-xl-inline">
             Copiar UUID
             </span>
          </button>
          </span>
        </dt>
        <dd>
          <span id="clave-externa">{{ sistema.uuid_sistema }}</span>
        </dd>

        <dt>Descripción
          <span class="float-end">
          {% include "sistemas/includes/pb-editar-descripcion.html" %}
          </span>
        </dt>
        <dd>
          {% if sistema.descripcion %}  
            {{ sistema.descripcion|as_descripcion }}
          {% else %}
             Falta la descripción
          {% endif %}  
        </dd>
      <dl>
          <dt>URL
          <span class="float-end">
          {% include "sistemas/includes/pb-editar-url.html" %}
          </span>
          </dt>
          <dd>
          {% if sistema.url %}
            <a href="{{ sistema.url }}">{{ sistema.url }}</a>  
          {% else %}
            <abbr title="No definido / No aplica">N/A</abbr>
          {% endif %}
          </dd>
      </dl>

      <dt>
        Es corporativo
        <span class="float-end">
        <a class="btn btn-warning btn-sm"
           href="{% url 'sistemas:conmutar_campo' sistema=sistema campo='es_corporativo' %}"
              title="Conmutar valor">
          {% if sistema.es_corporativo %}
            <i class="bi bi-toggle-on"></i>
          {% else %}
            <i class="bi bi-toggle-off"></i>
          {% endif %}
          </a>
        </span>  
      </dt>
        <dd>
        {{ sistema.es_corporativo|as_boolean }}
        </dd>

      <dt>
        Especial importancia
        <span class="float-end">
          <a class="btn btn-warning btn-sm"
             href="{% url 'sistemas:conmutar_campo' sistema=sistema campo='especial_importancia' %}"
              title="Conmutar valor">
          {% if sistema.especial_importancia %}
            <i class="bi bi-toggle-on"></i>
          {% else %}
            <i class="bi bi-toggle-off"></i>
          {% endif %}
          </a>
        </span>
      </dt>
      <dd>
        {{ sistema.especial_importancia|as_boolean }}</td>
      </dd>

  </table>


    {% if sistema.es_subsistema_de %}
    <dt>
      <span class="badge text-bg-warning" title="de {{ sistema.es_subsistema_de }}">
      Subsistema
      </span>
    </dt>
    <dd>
        Es subsistema de <b>{{ sistema.es_subsistema_de }}</b>
        (<a href="{{ sistema.es_subsistema_de.url_detalle_sistema }}">
            {{ sistema.es_subsistema_de.codigo }}
        </a>).
    </dd>
    {% endif %}
  </div>
    </dl>

  <div class="card-footer d-flex flex-row-reverse">
    <a href="{% url 'sistemas:editar_sistema' sistema=sistema %}"
       class="btn btn-warning"
       title="Editar sistema">
       <i class="bi bi-pencil-fill"></i>
    </a>     
  </div>
</div>
