{% load sistemas comun_filters %} 

<div class="card m-1">
  <div class="card-header bg-primary text-white">
    <h3 class="card-title">Identificación</h3>
  </div>  
  <div class="card-body">
  <table class="table">
    <tr>
        <th class="text-end">UUID</th>
        <td><span id="clave-externa">{{ sistema.uuid_sistema }}</span></td>
        <td>
          <button class="btn btn-info btn-sm" onclick="copyClaveExterna()">
            <i class="bi bi-clipboard-plus"></i>    
          </button>
        </td>
    </tr>
    <tr>
        <th class="text-end">Descripción</th>
        <td>
          {% if sistema.descripcion %}  
            {{ sistema.descripcion|as_descripcion }}
          {% else %}
             Falta la descripción
          {% endif %}  
        </td>
        <td>
          {% include "sistemas/includes/pb-editar-descripcion.html" %}
        </td>
    </tr>

    <tr>
        <th class="text-end">URL</th>
        <td>
          {% if sistema.url %}
            <a href="{{ sistema.url }}">{{ sistema.url }}</a>  
          {% else %}
            <abbr title="No definido / No aplica">N/A</abbr>
          {% endif %}
        </td>
        <td>
          {% include "sistemas/includes/pb-editar-url.html" %}
        </td>
    </tr>
        
    <tr>
        <th class="text-end">Es corporativo</th>
        <td>{{ sistema.es_corporativo|as_boolean }}</td>
        <td>
          <a class="btn btn-warning"
             href="{% url 'sistemas:conmutar_campo' sistema=sistema campo='es_corporativo' %}"
              title="Conmutar valor">
          {% if sistema.es_corporativo %}
            <i class="bi bi-toggle-on"></i>
          {% else %}
            <i class="bi bi-toggle-off"></i>
          {% endif %}
          </a>
        </td>
    </tr>

    <tr>
        <th class="text-end">Especial importancia</th>
        <td>{{ sistema.especial_importancia|as_boolean }}</td>
        <td>
          <a class="btn btn-warning"
             href="{% url 'sistemas:conmutar_campo' sistema=sistema campo='especial_importancia' %}"
              title="Conmutar valor">
          {% if sistema.especial_importancia %}
            <i class="bi bi-toggle-on"></i>
          {% else %}
            <i class="bi bi-toggle-off"></i>
          {% endif %}
          </a>
        </td>
    </tr>

  </table>


    {% if sistema.es_subsistema_de %}
    <span class="badge text-bg-warning" title="de {{ sistema.es_subsistema_de }}">
        Subsistema
    
    </span>
    {% endif %}
  </div>
  <div class="card-footer d-flex flex-row-reverse">
    <a href="{% url 'sistemas:editar_sistema' sistema=sistema %}"
       class="btn btn-warning"
       title="Editar sistema">
       <i class="bi bi-pencil-fill"></i>
    </a>     
  </div>
</div>
