<div class="card mt-1">
  <div class="card-header">  
    <h5 class="card-title">Normativa (Juriscán)</h5>
  </div>  
  <div class="card-body">

    {% if sistema.normativa.all.count == 0 %}
    <p>
      <i class="bi bi-exclamation-diamond"></i>
      No hay normativa específica definida.
    </p>
    {% else %}
    <table class="table">
    {% for sj in sistema.fichas_juriscan.all %}
      <tr>
          <th>
            {{ sj.juriscan_id }}
          </th>
          <td>
            <a href="{{ sj.juriscan.url }}">
            {{ sj.juriscan.titulo }}
            </a>
          </td>
          <td>
           <a class="btn btn-danger" 
              href="{% url 'sistemas:desasignar_normativa' sistema=sj.sistema_id juriscan=sj.juriscan_id %}"
              title="Borrar enlace a Juriscán">
              <i class="bi bi-trash"></i>
           </a>   
          </td>
      </tr>   
      {% endfor %}
    <tr>
    </table>  
    {% endif %}
  </div><!-- de card-body -->
  <div class="card-footer d-flex flex-row-reverse">
    <a href="{% url 'sistemas:asignar_normativa' sistema=sistema %}"
       class="btn btn-warning"
       title="Asignar normativa">
       <i class="bi bi-patch-plus"></i>
       Añadir normativa
    </a>
  </div>

  </div> 
</div>  
