{% load sistemas %}

<table class="table table-striped table-hover">
  <thead>
  <tr>
  <th>Código</th>
  <th>Nombre</th>
  <th>Tema</th></tr>
  </thead>
  <tbody>
    {% for sistema in sistemas %}
    <tr>
      <td>
        <a href="{% url 'sistemas:detalle_sistema' sistema=sistema %}">
        {{ sistema.codigo }}
        </a>
      </td>
      <td>
        <b>{{ sistema.nombre_sistema }}</b><br>
        <small>{{ sistema.descripcion }}</small>
      </td>
      <td>
        {{ sistema.tema|as_tema }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
