<div class="card m-1">
  <div class="card-header">  
    <h5 class="card-title">Responsables</h5>
  </div>  
  <div class="card-body">

{% if sistema.perfiles.all.count == 0 %}
    <p>
      <i class="bi bi-exclamation-diamond"></i>
      No se ha designado a ningún responsable.
    </p>
{% else %}
    <table class="table">
    {% for perfil in sistema.perfiles.all %}
      <tr>
          <td>
            <span class="title" title="{{ perfil.usuario.email }}">
            {{ perfil.usuario }}
            </span>
          </td>  
          <td>{{ perfil.get_cometido_display }}</td>  
          <td>
           <a class="btn btn-danger" 
              href="{% url 'sistemas:borrar_perfil' id_perfil=perfil.pk %}"
              title="Borrar perfil">
              <i class="bi bi-person-dash-fill"></i>
           </a>   
          </td>
      </tr>   
      {% endfor %}
    <tr>
    </table>  
{% endif %}
  </div><!-- de card-body -->
  <div class="card-footer d-flex flex-row-reverse">
    <a href="{% url 'sistemas:asignar_responsable' sistema=sistema %}"
       class="btn btn-warning"
       title="Añadir responsable">
       <i class="bi bi-person-plus-fill"></i>
       Añadir responsable
    </a>
  </div><!-- de card-footer -->
</div><!-- de card -->
