{% extends 'comun/base.html' %}
{% load static %}

{% block styles %}
{{ block.super }}
  <link media="all" href="{% static 'css/dashboard.css' %}" rel="stylesheet">
{% endblock styles %}

{% block container %}

{% comment %}<div class="container-fluid" style="border: 1px dotted green">{% endcomment %}

<div class="wrapper">
  <aside id="sidebar">
    
    <div class="flex justify-content-between p-4">
      <button
        id="hamburger"  
        class="toggle-btn border-0" type="button">
      <i id="chevron" class="bi bi-chevron-double-right"></i>
      </button>

      <ul class="sidebar-nav">

        <li class="sidebar-item">
          <a class="sidebar-link"
             href="{% url 'sistemas:index' %}">
            <i class="bi bi-box"></i>
            <span>Sistemas</span>
          </a>
        </li>
        {% if tab == 'sistemas' %}
          <ul class="sidebar-nav">
          <li class="sidebar-item ml-4">
            <a class="sidebar-link"
               href="{% url 'sistemas:alta_sistema' %}">
              <i class="bi bi-plus-square"></i>
              <span>Alta sistema</span>
            </a>  
          </li>

          <li class="sidebar-item">
            <a class="sidebar-link"
               href="{% url 'sistemas:importar_sistemas' %}">
              <i class="bi bi-box-arrow-in-left"></i>
              <span>Importar</span>
            </a>  
          </li>

          <li class="sidebar-item">
            <a class="sidebar-link"
               href="{% url 'sistemas:exportar_sistemas' %}">
              <i class="bi bi-box-arrow-right"></i>
              <span>Exportar</span>
            </a>  
          </li>
          </ul>
        {% endif %}

        <li class="sidebar-item">
          <a class="sidebar-link"
             href="{% url 'sistemas:listado_activos' %}">
            <i class="bi bi-boxes"></i>
            <span>Activos</span>  
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link"
             href="{% url 'sistemas:listado_usuarios' %}">
            <i class="bi bi-people-fill"></i>
            <span>Usuarios</span>
          </a>
        </li>

      </ul>

    </div>
  </aside>
  
    <div class="main">
      {% include "comun/includes/commands.html" %}
      {% block content %}
        
      {% endblock content %}
    </div>

  </div>
{% comment %}</div>{% endcomment %}

{% endblock container %}

{% block scripts %}
{{ block.super }}
 <script src="{% static 'js/dashboard.js' %}"></script>

{% endblock scripts %}
