{% load static %}

<div class="row" id="headercontainer">  
  <div>   
    <h1 class="logo">
      <a href="http://www.gobiernodecanarias.org/principal/"
         accesskey="i"
         title="Página principal del Gobierno de Canarias - Opciones de accesibilidad (tecla de acceso: i)">
        <img src="{% static 'img/logo.gif' %}"
             alt="Gobierno de Canarias"
             width="152" height="79"
             >
      </a>           
    </h1>
  </div>  
  <div id="cab_superior">
    <!-- MENU DE AYUDA -->
    <ul>
      <li><a href="http://www.gobiernodecanarias.org/principal/accesibilidad.html" accesskey="a" title="Accesibilidad">Accesibilidad</a>|</li>                       
      <li><a href="mapa_web.html" target="" title="Mapa web">Mapa web</a>|</li>           
      <li><a href="https://www.gobiernodecanarias.org/aplicaciones/sirvete/principal/" target="" title="Contacto">Contacto</a></li>           
    </ul>
  </div>
</div>  
