{% load static %}

<div id="header">

  <div id="logo">
      <a href="http://www.gobiernodecanarias.org/principal/"
         accesskey="i"
         title="Página principal del Gobierno de Canarias - Opciones de accesibilidad (tecla de acceso: i)">
        <img src="{% static 'img/logo.gif' %}"
             alt="Gobierno de Canarias"
             width="152" height="79"
             >
      </a>           
  </div>
  <div id="top-menu">
    <a href="http://www.gobiernodecanarias.org/principal/accesibilidad.html" accesskey="a" title="Accesibilidad">Accesibilidad</a>
    |
    <a href="mapa_web.html" target="" title="Mapa web">Mapa web</a>
    | 
    <a href="https://www.gobiernodecanarias.org/aplicaciones/sirvete/principal/" target="" title="Contacto">Contacto</a>
  </div>
</div>
