{% extends "comun/base.html" %}
{% load static %}

{% block scripts %}
<script src="https://code.highcharts.com/12/highcharts.js"></script>
<script src="{% static 'js/homepage.js' %}"></script>
{% endblock scripts %}

{% block content %}

<div class="row">

  <div class="col-sm-12 col-md-6 col-xl-4">

      <div class="panel">
        <div class="panel-header">
          <img src="{% static 'icons/box.svg' %}" width="32">
           <a href="{% url 'sistemas:index' %}">Sistemas de Informacion</a>  
        </div>  
        <div class="panel-body">
            <div class="counter">{{ stats.sistemas }}</div>
            <p class="small">
            Inventario de sistemas de información 
            gestionados por las AAPP del Gobierno de Canarias
            (Consejerías y organismos dependientes)
            </p>
        </div>
        <div class="panel-footer">
          <a href="{% url 'sistemas:alta_sistema' %}">⊕ Ańadir</a>
        </div>
      </div>

  </div>

  <div class="col-sm-12 col-md-6 col-xl-4">

    <div class="panel">
      <div class="panel-header">
        Sistemas según estado 
      </div>  
      <div class="panel-body">
        <div> {{ sistemas_chart.as_html }} </div>
      </div>
    </div>

  </div><!-- de col -->
  


  <div class="col-sm-12 col-md-6 col-xl-4">
      
      <div class="panel">
        <div class="panel-header">
          <img src="{% static 'icons/boxes.svg' %}" width="32">
           <a href="{% url 'sistemas:index' %}">Activos de datos</a>  
        </div>  
        <div class="panel-body">
            <div class="counter">{{ stats.activos }}</div>
            <p class="small">
            Recurso que contiene información valiosa para una
            organización. Estos incluyen datos, documentos, correos
            electrónicos, software, sistemas, redes, dispositivos
            y bases de datos.
            </p>
        </div>
      </div>

  </div>

  <div class="col-sm-12 col-md-6 col-xl-4">

      <div class="panel">
        <div class="panel-header">
          <img src="{% static 'icons/share-fill.svg' %}" width="32">
           <a href="{% url 'sistemas:index' %}">Organismos</a>  
        </div>  
        <div class="panel-body">
            <div class="counter">{{ stats.organismos }}</div>
            <p class="small">
            Incluye tanto organismos autónomos como consejerías (Información
            sacada de DIRCAC).
            </p>
        </div>
      </div>

  </div>

  <div class="col-sm-12 col-md-6 col-xl-4">
      <div class="panel">
        <div class="panel-header">
          <img src="{% static 'icons/people-fill.svg' %}" width="32">
           <a href="{% url 'sistemas:index' %}">Usuarios</a>  
        </div>  
        <div class="panel-body">
            <div class="counter">{{ stats.usuarios }}</div>
            <p class="small">
            Usuarios activos en el sistema
            </p>
        </div>
      </div>
  </div>

  <div class="col-sm-12 col-md-6 col-xl-4">
      <div class="panel">
        <div class="panel-header">
          <img src="{% static 'icons/tema.svg' %}" width="32">
           <a href="{% url 'sistemas:index' %}">Áreas competenciales</a>  
        </div>  
        <div class="panel-body">
            <div class="counter">{{ stats.temas }}</div>
            <p class="small">
            Todos los sistemas se clasifican en un área competencial
            </p>
        </div>
      </div>
  </div>

  <div class="col-sm-12 col-md-6 col-xl-4">
      <div class="panel">
        <div class="panel-header">
          <img src="{% static 'icons/familia.svg' %}" width="32">
           <a href="{% url 'familias:index' %}">Familias</a>  
        </div>  
        <div class="panel-body">
            <div class="counter">{{ stats.familias }}</div>
            <p class="small">
            Algunos sistemas se agrupan en familias
            </p>
        </div>
      </div>
  </div>

  <div class="col-sm-12 col-md-6 col-xl-4">
     {% include "comun/sidebar.html" %}  
  </div>

<div><!-- row ends -->
    





{% endblock content %}
