{% extends "comun/base.html" %}

{% block script %}
<script>
  const ctx = document.getElementById('myChart');
  const config = {
    type: 'doughnut',
    data: {
      labels: ['Completos', 'Parciales', 'Solo identificados'],
      datasets: [{
        data: [12, 19, 16],
        borderWidth: 1
      }],
    options: {
        label: 'Sistemas de información',
        animations: {
            animateRotate: true,
            duration: 5000,
            delay: 1500,
            loop: true,
            },
        },
    },
  }
  new Chart(ctx, config);


const ctx2 = document.getElementById('Chart2');
var myDoughnutChart = new Chart(ctx2, {
    type: 'doughnut',
    data: {
      labels: ['Completos', 'Parciales', 'Solo identificados'],
      datasets: [{
        data: [12, 19, 16],
        borderWidth: 1
        }],
    },
  options: {
    cutoutPercentage: 75,
    animations: {
        tension: {
            animateRotate: true,
            duration: 5000,
            easing: 'linear',
            render: false,
        },
    },
  }
});


  console.log('hasta aquí llega');
</script>
{% endblock script %}

{% block content %}




<div class="container text-center">

  <div class="row">

    <div class="col">
  
      <div class="card">
       <div class="card-header">
        <h3 class="card-title">
        Sistemas de información
        </h3>
       </div>
       <div class="card-body">

        <div>
          <canvas id="myChart" width="400" height="210"></canvas>
        </div>

         <p class="card-text">

        Conjunto organizado de elementos interrelacionados (personas,
        procesos, datos, tecnología y recursos) que trabajan juntos para
        recopilar, procesar, almacenar, distribuir y gestionar
        información con el fin de apoyar la toma de decisiones, la
        coordinación operativa y el control dentro de una organización.
         </p>
    
         <a href="{% url 'sistemas:index' %}" class="btn btn-primary">Ver sistemas</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
       <div class="card-header">
        <h3 class="card-title">
        Activos de datos
        </h3>
       </div>
       <div class="card-body">
         <p class="card-text">

         Es cualquier recurso de datos con valor para el desarrollo de
         las funciones de una organización, que puede ser comprendido y
         tratado como una única unidad a efectos de gestión, uso,
         protección e intercambio.
         </p>
         <a href="{% url 'sistemas:index' %}" class="btn
             btn-primary">Ver activos de datos</a>

          <div>
          <canvas id="Chart2" width="400" height="210"></canvas>
          </div>

        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
       <div class="card-header">
       Más informacióm
       </div>
       <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">
              <a href="{% url 'normativa:index' %}">
              Normativa
            </a>  
          </li>
          <li class="list-group-item">
              <a href="{% url 'glosario:index' %}">
              Glosario de términos
            </a>  
          </li>

          <li class="list-group-item">
              <a href="{% url 'directorio:index' %}">
              Organigrama y directorio
            </a>  
          </li>
        </ul>


       </div>
    </div>

  </div><!-- de row -->

</div>



{% endblock content %}
