{% extends "comun/base.html" %}

{% block content %}
  
<h1>LABO</h1>

<h2>Charts</h2>

<h3>PolarChart (<code>comun.graficas::PolarChart</code>)</h3>

<div class="chart">
    {{ polar.as_svg|safe }}
</div>

<h2>comun.charts</h2>

<canvas id="Chart" width="600" height="200"></canvas>



<h1>Modal Practice</h1>

<button id="open">Open Modal</button>

<dialog id="modal">
  <form method="dialog"><button aria-label="close">X</button></form>
  <h2>I'm a modal!</h2>
</dialog>

{% endblock content %}

{% block scripts %}
{{ blosk.super }}

<script>
  const openBtn = document.querySelector('#open');
  const modal = document.querySelector('#modal');

  openBtn.addEventListener('click', () => modal.showModal());
</script>
    
{% endblock scripts %}
