{% load static %}

<div id="navbar" class="no-print">

  <ul class="nav nav-tabs">
  
    <li class="nav-item">
      
        <a class="nav-link{% if tab == 'sistemas' %} active{% endif %}"
           aria-current="sistemas" 
           href="{% url 'sistemas:index' %}">
        Sistemas
        </a>
      
    </li>
  
    <li class="nav-item">
      <a class="nav-link{% if tab == 'activos' %} active{% endif %}"
         aria-current="sistemas" 
         href="{% url 'sistemas:listado_activos' %}">
        Activos
        </a>
    </li>
  
    <li class="nav-item">
      
        <a class="nav-link{% if tab == 'usuarios' %} active{% endif %}"  
           aria-current="Usuarios" 
           href="{% url 'sistemas:listado_usuarios' %}">
        Usuarios
        </a>
        
    </li>
  
    <li class="nav-item">
      <a class="nav-link{% if tab == 'organismos' %} active{% endif %}"
         aria-current="Organismos" 
         href="{% url 'sistemas:listado_organismos' %}">
      Organismos
      </a>
    </li>
  
    <li class="nav-item">
      <a class="nav-link{% if tab == 'entes' %} active{% endif %}"
         aria-current="Entes" 
         href="{% url 'sistemas:listado_entes' %}">
      Entes
      </a>

    </li>
    <li class="nav-item">
      <a class="nav-link{% if tab == 'glosario' %} active{% endif %}"
         aria-current="Glosario" 
         href="{% url 'glosario:index' %}">
      Glosario
      </a>
    </li>  

    <li class="nav-item">
      <a class="nav-link{% if tab == 'temas' %} active{% endif %}"
         aria-current="Temas" 
         href="{% url 'sistemas:listado_temas' %}">
      Temas
      </a>
    </li>  

    <li class="nav-item">
      <a class="nav-link{% if tab == 'familias' %} active{% endif %}"
         aria-current="Familias" 
         href="{% url 'sistemas:listado_familias' %}">
      Familias
      </a>
    </li>  
  </ul>

</div> 
