{% load static %}

<div id="navbar" class="no-print">

  <ul class="nav nav-tabs">
  
    <li class="nav-item">
      {% if tab == 'sistemas' %}
        <a class="nav-link active"
           aria-current="sistemas" 
           href="#">
        Sistemas
        </a>
      {% else %}
        <a class="nav-link"
           href="{% url 'sistemas:index' %}">
        Sistemas
        </a>  
      {% endif %}
    </li>
  
    <li class="nav-item">
      {% if tab == 'usuarios' %}
        <a class="nav-link active"
           aria-current="Usuarios" 
           href="#">
        Usuarios
        </a>
      {% else %}
        <a class="nav-link" href="{% url 'sistemas:listado_usuarios' %}">
        Usuarios
        </a>
        {% endif %}  
    </li>
  
    <li class="nav-item">
      {% if tab == 'organismos' %}
        <a class="nav-link active"
           aria-current="ORganismos" 
           href="#">
        Organismos
        </a>
      {% else %}
        <a class="nav-link" href="{% url 'sistemas:listado_organismos' %}">
        Organismos
        </a>
        {% endif %}  
    </li>
  
    <li class="nav-item">
      {% if tab == 'glosario' %}
        <a class="nav-link active"
           aria-current="Glosario" 
           href="#">
        Glosario
        </a>
      {% else %}
        <a class="nav-link" href="{% url 'glosario:index' %}">
        Glosario
        </a>
      {% endif %}  
    </li>  

  </ul>

</div> 
