{% load static %}

<div id="navbar" class="no-print">

 <div class="btn-group" role="group" aria-label="Basic example">
  <a role="button" type="button" class="btn btn-default"
    href="detalle.html#personal">
    Área personal
  </a>
      
  <a role="button" type="button" class="btn btn-default"
    href="detalle.html#herramientas">
    Herramientas de servicio
  </a>

  <a role="button" type="button" class="btn btn-default"
    href="detalle.html#bibliogafia">
    Documentación
  </a>
  <button type="button" class="btn btn-primary">Middle</button>
  <button type="button" class="btn btn-primary">Right</button>
 </div>
</div> 



<div class="collapse navbar-collapse no-print">
		<ul id="navigation" class="nav navbar-nav">
			<li class="active"><a href="#">INTRANET</a></li>
			<li><a href="detalle.html#personal">ÁREA PERSONAL</a></li>
			<li></li>
			<li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">DOCUMENTACIÓN
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="documentacion.html#bibliografia">Bibliográfica</a></li>
          <li><a href="documentacion.html#editorial">Editorial</a></li>
          <li><a href="documentacion.html#referencial">Referencial</a></li>
		  <li><a href="documentacion.html#normativa">Normativa</a></li>
          <li><a href="documentacion.html#estadistica">Estadística</a></li>
          <li><a href="documentacion.html#geografica">Geográfica</a></li>
		  <li><a href="documentacion.html#manuales">Manuales y guías</a></li>
        </ul>
      </li>				
			<li><a href="detalle.html#recursos">RECURSOS</a></li>			
			<li><a href="hemeroteca.html">HEMEROTECA</a></li>			
		</ul>
		
		<ul id="navigation-right" class="nav navbar-nav navbar-right">      
		<li><a href="https://www.gobiernodecanarias.net/intranet/cgi-bin/cierre.cgi"><span class="glyphicon glyphicon-log-out"></span> CERRAR SESIÓN</a></li>
      <!--<li><a href="http://www.gobiernodecanarias.net/sesionweb/cgi-bin/cierre.cgi"><span class="glyphicon glyphicon-log-out"></span> CERRAR SESIÓN</a></li>-->
    </ul>
</div>
