{% extends 'comun/base.html' %}
{% load static %}

{% block styles %}
  {{ block.super }}
  <link media="all" href="{% static 'css/login.css' %}" rel="stylesheet">  
{% endblock styles %}


{% block container %}

{% if form.errors %}
    <p class="lead">Hay errores en el formulario</p>
    <ul class="errors">{% for err in form.errors %}
        <li>{{ err }}</li> 
    </ul>{% endfor %}
{% endif %}

<div class="login-panel">
    <img src="{% static 'img/logo.issi.svg' %}"
         width="180"
         alt="Gobierno de Canarias" id="logo-gobcan">
  <form method="post">
  {% csrf_token %}
    
  <div class="m-2">  

      <label for="id_email" class="form-label">
          {{ form.email.label }}
      </label>
      {{ form.email }}
      {% if form.email.errors %}<ul class="form-errors">
          {% for error in form.email.errors %}
          <li>{{ error }}</li>
          {% endfor %}
      </ul>{% endif %}

  </div>

    <input role="button" class="form-control btn btn-primary"
        type="submit" value="Recuperar contraseña">

    </form>

<p class="lead text-center mt-4">Si su cuenta de correo está registrada
en el sistema, al pulsar el botón se le enviará a dicho
correo un mensaje con un enlace que le permitirá restablecer la
contraseña.</p>
    
</div>
{% endblock container %}
