      <div class="card">
       <div class="card-header">
       Más información
       </div>
           
        <ul class="list-group">
          <li class="list-group-item">
              <a href="{% url 'normativa:index' %}">
              Normativa
            </a>  
          </li>
          <li class="list-group-item">
              <a href="{% url 'glosario:index' %}">
              Glosario de términos
            </a>  
          </li>

          <li class="list-group-item">
              <a href="{% url 'directorio:index' %}">
              Organigrama y directorio
            </a>  
          </li>

          <li class="list-group-item">
              <a href="{% url 'sistemas:listado_temas' %}">
              Áreas temáticas
            </a>  
          </li>

          <li class="list-group-item">
              <a href="{% url 'juriscan:index' %}">
              Juriscán
            </a>  
          </li>


        </ul>

      </div>
