{% extends "comun/base.html" %}
{% load comun_filters %}
{% block content %}

<div class="card">

  <div class="card-header">
    Añadir un nuevo usuario
  </div>

  <div class="card-body">

  <form method="POST" action=".">
  {% csrf_token %}
  {{ form.errors }}  

  <div class="d-flex p-2 bd-highlight">
    <fieldset class="flex-fill">     
    <legend>Datos personales</legend>


    <div class="m-2">
      <label for="id_login" class="form-label">Username / Login</label>
      {{ form.login }}
      {% if form.login.errors %}<ul class="form-errors">
        {% for err in form.login.errors %}
          <li>{{ err }}</li> 
        {% endfor %}
        </ul>{% endif %}
    </div>

    <div class="m-2">
      <label for="id_nombre" class="form-label">Nombre</label>
      {{ form.nombre }}
      {% if form.nombre.errors %}<ul class="form-errors">
        {% for err in form.nombre.errors %}
          <li>{{ err }}</li> 
        {% endfor %}
        </ul>{% endif %}
    </div>

    <div class="m-2">
      <label for="id_apellidos" class="form-label">Nombre</label>
      {{ form.apellidos }}
      {% if form.apellidos.errors %}<ul class="form-errors">
        {% for err in form.apellidos.errors %}
          <li>{{ err }}</li> 
        {% endfor %}
        </ul>{% endif %}
    </div>
    </fieldset>

    <fieldset style="max-width: 50%;">

      <legend>Dirección General / Organismp</legend>

      <div class="m-2">
       <label for="id_codigo" class="form-label">Organismo
           <span class="badge rounded-pill bg-info">
           <div id="contador">0</div>
           </span>
       </label>
           <button 
               type="button"
               data-on:load="@get('/sistemas/patch/organismos/')"
               data-on:click="@get('/sistemas/patch/organismos/')">
           filtrar por
           </button>

           <input type="text" name="query" value="" data-bind="query">
           <div id="control_organismos">
           </div>
      </div>
    </fieldset>    
  </div>

  <div class="commands">
    <button type="submit" class="btn btn-primary">
        Añadir usuario
    </button>
  </div>

  </form>
  </div>
</div>  

{% endblock content %}
