{% extends "comun/base.html" %}
{% load comun_filters %}
{% block content %}





<div class="card">
  <div class="card-header">
    Añadir un nuevo sistema de información
  </div>
  <div class="card-body">


   <form method="POST" action=".">

  {{ form.errors }}  
    {% csrf_token %}
   <fieldset>
    <legend>Campos obligatorios</legend>

   <div class="mb-3">
    <label for="id_nombre" class="form-label">Nombre del sistema</label>
    {{ form|as_text_control:"nombre" }}
   </div>

   <div class="mb-3">
    <label for="id_codigo" class="form-label">Código</label>
    {{ form|as_text_control:"codigo" }}
   </div>

   <div class="mb-3">
    <label for="id_codigo" class="form-label">Organismo</label>
        <button 
            type="button"
            data-on-load="@get('/sistemas/patch/organismos/')"
            data-on-click="@get('/sistemas/patch/organismos/')">
        filtrar por
        </button>
        <input type="text" name="query" data-bind="query">
        <div id="control_organismos">
        </div>

   </div>



   </fieldset>

    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>  

{{ from }}

{% endblock content %}
