{% extends "comun/base.html" %}
{% load comun_filters %}
{% block content %}

<div class="card">

  <div class="card-header bg-primary text-white">
    <h3>Añadir un nuevo sistema de información</h3>
  </div>

  <div class="card-body">

  <form method="POST" action=".">
  {% csrf_token %}
  {{ form.non_field_errors }}  

  <div class="d-flex p-2 bd-highlight">
    <fieldset class="flex-fill">
      <legend>Identificación del sistema</legend>

      <div class="m-2">
        <label for="id_nombre_sistema" class="form-label">
            {{ form.nombre_sistema.label }}
        </label>
        {{ form.nombre_sistema }}
        {% if form.nombre_sistema.errors %}<ul class="form-errors">
          {% for error in form.nombre_sistema.errors %}
          <li>{{ error|safe }}</li>
          {% endfor %}
        </ul>{% endif %}
      </div>

      <div class="m-2">
        <label for="id_codigo" class="form-label">
            {{ form.codigo.label }}
        </label>
        {{ form.codigo }}
        {% if form.codigo.errors %}<ul class="form-errors">
          {% for error in form.codigo.errors %}
          <li>{{ error|safe }}</li>
          {% endfor %}
        </ul>{% endif %}  
      </div>

      <div class="m-2">
        <label for="id_proposito" class="form-label">
            {{ form.finalidad.label }}
        </label>
        {{ form.finalidad }}
        {% if form.finalidad.errors %}<ul class="form-errors">
          {% for error in form.finalidad.errors %}
          <li>{{ error|safe }}</li>
          {% endfor %}
        </ul>{% endif %}
         <p class="atenuado">Admite <a href="https://www.markdownlang.com/">formato 
             MarkDown</a>.
         </p>
      </div>



    </fieldset class="flex-fill">     
  
    <fieldset style="max-width: 50%;">
      <legend>Estructura administrativa</legend>

      <div class="m-2">
       <label for="id_tema" class="form-label">Tema</label>
       {{ form.tema }}
      </div>

      <div class="m-2">
       <label for="id_codigo" class="form-label">Organismo
           <span class="badge rounded-pill bg-info">
           <div id="contador">0</div>
           </span>
       </label>
           <button 
               type="button"
               data-on:load="@get('/sistemas/patch/organismos/')"
               data-on:click="@get('/sistemas/patch/organismos/')">
           filtrar por
           </button>

           <input type="text" name="query" value="" data-bind="query">
           <div id="control_organismos">
           </div>
      </div>
    </fieldset>    
  </div>

  <button type="submit" class="btn btn-primary">
    Añadir sistema
  </button>

    </form>
  </div>
</div>  

{{ from }}

{% endblock content %}
