{% extends "comun/base.html" %}
{% load comun_filters %}
{% block content %}


<div class="row"><div class="offset-sm-0 col-sm-12 offset-md-2 col-md-8">


  <form method="POST" action=".">
  {% csrf_token %}
  <div class="card m-4">
  
    <div class="card-header">
      <h2 class="card-title">
      Asignar responsable al S.I. {{ sistema }}.</p>
      </h2>
    </div>
  
    <div class="card-body">
  
    {{ form.errors }}  
  
  
      <fieldset style="max-width: 50%;">
      
      <legend>Cometido</legend>
  
      <div class="m-2">
         <label for="id_cometido" class="form-label">
           Cometido
         </label>
         {{ form.cometido }}
  
      </div>  
          
      <legend>Usuario</legend>
  
  
  
  
        <div class="m-2">
         <label for="id_codigo" class="form-label">Usuarios
             <span class="badge rounded-pill bg-info">
             <div id="contador">0</div>
             </span>
         </label>
             <button 
                 type="button"
                 data-on-click="@get('/sistemas/patch/usuarios/')">
             filtrar por
             </button>
  
             <input type="text" name="query" value="" data-bind="query">
             <div id="control_usuarios">
             </div>
        </div>
      </fieldset>    

    </div><!-- de card-body -->
    <div class="card-footer d-flex flex-row-reverse">
    <button type="submit" class="btn btn-primary">Asignar responsable</button>
    </div>
  </div>  
  </form>

</div></div>
{% endblock content %}
