{% extends "comun/base-form.html" %}
{% load comun_filters %}

{% block form %}

<form method="POST" action=".">
{% csrf_token %}

<div class="card">

  <div class="card-header">
    Cambiar el valor de {{ verbose_name }}
    {% if help_text %}({{ help_text }}){% endif %}  
  </div>

  <div class="card-body">

  <p>El valor actual es {{ valor|as_boolean }}</p>

  {{ form.seguro }}
  <label for="id_seguro">
      {{ form.seguro.label }}  
  </label>


  {% if form.seguro.errors %}<ul class="form-errors">
    {% for error in form.seguro.errors %}
    <li>{{ err }}</li>  
    {% endfor %}
  </ul>    
  {% endif %}

  <br></br>
  {% if url_cancel %}
    <a href="{{ url_cancel }}"
       class="btn btn-info">
        Cancelar
    </a>    
  {% endif %}

  <button type="submit" class="btn btn-primary">Cambiar valor</button>
  </form>
  </div>
</div>  

{% endblock form %}
