{% extends "comun/base-form.html" %}
{% load comun_filters %}

{% block form %}

<form method="POST" action=".">
{% csrf_token %}

<div class="card m-4">

  <div class="card-body">

    <h2 class="card-title">
        Revocación de interlocutor
    </h2>

    <p class="lead">      
        Revocar {{ usuario }}
        como interlocutor
        del ente {{ ente }}
    </p>

   <div class="m-2">

        {{ form }}

   </div>
  </div><!-- de card-body -->

  <div class="card-footer d-flex flex-row-reverse">
  <button type="submit" class="btn btn-primary">Revocar responsable</button>
  </div>

</div>  
</form>

{% endblock form %}
