{% extends "comun/base.html" %}
{% load comun_filters sistemas static %}

{% block content %}

<div class="container">
  <div class="row align-items-start">
    <div class="col col-5">

        <div class="card">
        <div class="card-header">
            <div class="position-absolute top-0 end-0 p-2">
                <img src="{% static sistema.get_estado|as_status_icon %}"
                   width="48" height="48">
            </div>    
            <h4 class="card-title"><b>{{ sistema.codigo }}</b>
                <br><small>{{ sistema.nombre }}</small>
            </h4>
        </div>
        <div class="card-body">
            <dl>
                <dt>Clave primaria interna</dt>
                <dd>
                  <code class="clave-primaria">
                    {{ sistema.pk }}
                  </code>  
                </dd>

                <dt>Clave externa</dt>
                <dd>
                  <code class="clave-externa">
                    {{ sistema.uuid }}
                  </code>  
                </dd>
            </dl>
                          
            <p class="card-text">
            {{ sistema.descripcion|as_markdown }}
            </p>

            <span class="badge text-bg-primary">
                {{ sistema.tema }}
            </span>
            {% if sistema.es_transversal %}
            <span class="badge text-bg-info">Transversal</span>
            {% endif %}
            {% if sistema.es_subsistema_de %}
            <span class="badge text-bg-warning" title="de {{ sistema.es_subsistema_de }}">
                Subsistema
            
            </span>
            {% endif %}
        </div>

      </div>
      
      <br>

      <div class="card">
        <div class="card-header">
            <h4 class="card-title">
              Propósito
            </h4>
        </div>
        <div class="card-body">
            <p class="card-text">
              {{ sistema.proposito|as_markdown }}    
            </p>
        </div>
        <div class="card-footer d-flex flex-row-reverse">
            <a class="btn btn-warning"
               href="{% url 'sistemas:editar_proposito' sistema=sistema.pk %}">
            <i class="bi bi-pencil"></i>
            Editar propósito
            </a>
        </div>
      </div>
    </div>
    
    <div class="col col-7">
      <table class="table table-hover">
        <tr>
          <th>Área temática</th>
          <td>
              <span class="tema">  
              {{ sistema.tema }}
              </span>

              <a class="btn btn-warning"
                 href="{% url 'sistemas:asignar_tema' sistema=sistema %}">
                 <i class="bi bi-bookmark"></i>
                 Asignar tema
              </a>
          </td>
        </tr>
        {% if sistema.url %}
          <tr>
            <th>URL principal</th>
            <td>{{ sistema.url }}</td>
          </tr>
        {% endif %}
        <tr>
          <th>Organismo</th>
          <td>
            {% if sistema.organismo %}
            <a href="{% url 'sistemas:detalle_organismo' organismo=sistema.organismo %}">
            {{ sistema.organismo }}
            </a>
            <span class="dir3">{{ sistema.organismo.dir3 }}</span>
            {% else %}
              <i class="pendiente">Sin asignar</a>
            {% endif %}

              <a class="btn btn-warning"
                 href="{% url 'sistemas:asignar_organismo' sistema=sistema %}">
                 <i class="bi bi-diagram-3-fill"></i>
                 Asignar a organismo
              </a>
            <br>
          </td>
        </tr>
        <tr>
          <th>Es transversal</th>
          <td>{{ sistema.es_transversal|as_boolean }}</td>
        </tr>
        <tr>
          <td>Logotipo</td>
          <td>
            {% if sistema.icono %}
              <img width="64" height="64"
                   src="{{ sistema.icono.url }}"
                   alt="{{ sistema }}">
            {% else %}
              [FALTA] Botón para dar de alta el icono
            {% endif %}  
          </td>
        </tr>
        
        {% if sistema.es_subsistema_de %}
        <tr>
            <th>Es subsistema de</th>
            <td>
                <a href="{{ sistema.es_subsistema_de.url_detalle_sistema}}">
                {{ sistema.es_subsistema_de.codigo }}
                </a>  
            </td>
        </tr>
        {% endif %}
        
        {% if sistema.subsistemas.exists %}
          {% for subsistema in sistema.subsistemas.all %}
          <tr>
            <th>
                {% if forloop.first %}Subsistemas{% endif %}
            </th>    
            <td>
                <a href="{{ subsistema.url_detalle_sistema }}">
                {{ subsistema.codigo }}
                </a>
            </td>
          </tr>  
          {% endfor %}  
        {% endif %}

        <tr>
            <th>Responsable funcional</th>
            <td>
                {{ sistema.responsable_funcional|default:"No definido" }}
            </td>
        </tr>
        
        <tr>
            <th>Responsable técnico</th>
            <td>
                {{ sistema.responsable_tecnico|default:"No definido" }}
            </td>
        </tr>

      </table>
    </div>
  </div>
</div>  
  
{% endblock content %}
