{% extends "comun/base.html" %}
{% load comun_filters sistemas static %}

{% block content %}

{% include "sistemas/includes/ficha-sistema.html" %}

{% include "sistemas/includes/tabs.html" with selected='detalles' %}

<div class="row align-items-start">

  <div class="col col-12-md col-lg-6">
    {% include "sistemas/includes/identificacion-sistema.html" %}
    {% include "sistemas/includes/finalidad.html" %}
    {% include "sistemas/includes/observaciones.html" %}
    
  </div>
  
  <div class="col col-12-md col-lg-6">
    {% include "sistemas/includes/clasificacion.html" %}
    {% include "sistemas/includes/isc.html" %}
    {% include "sistemas/includes/juriscan.html" %}
    {% include "sistemas/includes/responsables.html" %}
  </div>

</div>

{% endblock content %}

{% block scripts %}
{{ block.super }}

<script>
async function copyClaveExterna() {
    let text = document.getElementById('clave-externa').innerHTML;
    await navigator.clipboard.writeText(text);
    }
</script>
    
{% endblock scripts %}
