{% extends "comun/base.html" %}
{% load comun_filters sistemas static %}

{% block content %}

<div class="container">
  <div class="row align-items-start">

    <div class="col col-5">
      
      {% include "sistemas/includes/identificacion-sistema.html" %}
      {% include "sistemas/includes/proposito.html" %}
      
    </div>
    
    <div class="col col-7">

    {% include "sistemas/includes/clasificacion.html" %}
    {% include "sistemas/includes/responsables.html" %}
    {% include "sistemas/includes/normativa.html" %}
    </div>

  </div>
  <div class="col-12">
    {% include "sistemas/includes/diagnostico.html" %}
  </div>  
</div>

  </div>
</div>  
  
{% endblock content %}

{% block scripts %}
  {{ block.super }}

<script>
async function copyClaveExterna() {
    let text = document.getElementById('clave-externa').innerHTML;
    await navigator.clipboard.writeText(text);
    }
</script>
    
{% endblock scripts %}
