
{% extends "comun/base.html" %}
{% load comun_filters %}
{% block content %}

<p>Tema: {{ tema }}</p>

<table class="table table-striped">
{% for s in tema.sistemas.all %}<tr>
    <td>
        <b>
        <a href="{% url 'sistemas:detalle_sistema' sistema=s %}">{{ s.codigo }}</a>
        </b>
        {{ s.nombre }}
    </td>   
    <td>
      {{ s.descripcion }}    
    </td>
    <td>
        {% comment %}<a href="{% url 'sistemas:detalle_organismo' organismo=s.organismo %}">{% endcomment %}
        {{ s.organismo.nombre_organismo }}
        </a>
    </td>
</tr>{% endfor %}
</table>



{% endblock content %}
