{% extends "comun/base.html" %}
{% load comun_filters %}

{% block content %}

<div class="row">
  
    <div class="col col-8">
    <div class="card">
      <div class="card-header">
          <h4 class="card-title">Detalles del organismo
          </h4>
      </div>
      <div class="card-body">
      <table class="table">
          <tr>
              <th>Nombre</th>
              <td>{{ organismo.nombre_organismo }}</td>
          </tr>
          <tr>
              <th>Categoría</th>
              <td>{{ organismo.categoria }}</td>
          </tr>
          <tr>
              <th>Código DIRCAC</th>
              <td>{{ organismo.pk }}</td>
          </tr>
          <tr>
          <tr>
              <th>Código SirHUS</th>
              <td>{{ organismo.id_sirhus }}</td>
          </tr>
              <th>DIR3</th>
              <td>{{ organismo.dir3 }}</td>
          </tr>
          <tr>
              <th>Ruta</th>
              <td>{{ organismo.ruta }}</td>
          </tr>
          <tr>
              <th>URL</th>
              <td>
                  <a href="{{ organismo.url }}" class="enlace-externo">
                  {{ organismo.url }}
                  </a>  
              </td>
          </tr>
          <tr>
      </table>
      </div>
    </div>
  </div>      
  
  <div class="col col-4">
    <div class="card">
      <div class="card-header">
          <h4 class="card-title">Interlocutores
          </h4>
      </div>
      <div class="card-body">
      </div>
      {% for interlocutor in organismo.interlocutores.all %}
      <p class="m-2">{{ interlocutor.usuario }}</p>
      {% endfor %}  
      </div>
    </div>
  </div>


  <div class="col col-12">
    <div class="card">
      <div class="card-header">
          <h4 class="card-title">Sistemas de información
          </h4>
      </div>
      <div class="card-body">
        {% include "sistemas/includes/listado-sistemas.html" with sistemas=organismo.sistemas.all %}  
      </div>
    </div>
  </div>

  <div class="col col-12">
    <div class="card">
      <div class="card-header">
          <h4 class="card-title">Competencias
          </h4>
      </div>
      <div class="card-body">
          {{ organismo.competencias|as_markdown }}
      </div>
    </div>
  </div>


</div>

{% endblock content %}
