{% extends "comun/base.html" %}
{% load comun_filters sistemas static %}

{% block content %}

<div class="row">
  <div class="col col-4">
    
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Detalles del activo de datos</h4>
      </div>  
      <div class="card-body">
      <table class="table"><tbody>   
        <tr> <th>Id. del activo</th> <td>{{ activo.pk }}</td> </tr>
        <tr> 
            <th>Sistema asociado</th> 
            <td>
                <a href="{% url 'sistemas:detalle_sistema' sistema=activo.sistema %}">
                {{ activo.sistema }}
                </a>  
            </td>
        </tr>
        <tr> <th>Nombre</th> <td>{{ activo.nombre_activo }}</td> </tr>
        <tr> <th colspan="2"> {{ activo.descripcion }} </th> </tr>
        <tr> <th>Prioritario</th> <td>{{ activo.es_propietario|as_boolean }}</td> </tr>
        <tr> <th>Georreferenciado</th> <td>{{ activo.georreferenciado|as_boolean }}</td> </tr>
        <tr> <th>Datos personales</th> <td>{{ activo.get_datos_personales_display }}</td> </tr>
      </tbody></table>
      </div><!-- de card-body -->  
    </div><!-- de card -->  
  </div><!-- de col -->  
  <div class="col col-8">

    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Campos del activo</h4>
        <span class="badge">{{ activo.campos.count }}</span>
      </div>  
      <div class="card-body">
        <table class="table"><tbody>
        {% for campo in activo.campos.all %}<tr>
          <th>
              {% if campo.arquetipo.es_clave_primaria %}
              <u>{{ campo.nombre_campo }}</ul>
              {% else %}
              {{ campo.nombre_campo }}
              {% endif %}
          </th>
          <td>{{ campo.descripcion }}</td>
          <td>
              <code title="{{ campo.arquetipo.descripcion }}">
              {{ campo.arquetipo }}
              </code>
          </td>
        </tr>{% endfor %}          
      </tbody></table>
      </div><!-- de card-body -->  
    </div><!-- de card -->  
 
  </div>

</div><!-- de row -->


{% endblock content %}
