{% extends "comun/base.html" %}
{% load comun_filters %}

{% block content %}

<h3>Todo</h3>
<ul>
    <li>
      <a href="{% url 'sistemas:exportar_sistemas_todos' %}">
      Exportar todos los sistemas de información
      </a>
    </li>
</ul>

<h3>Por entidad</h3>

<ul>
  
{% for ente in entes.all %}
   {% with ente.sistemas_del_ente.count as num_sistemas %}
          
   {% if num.sistemas > 0 %}
   <li class="atenuado">{{ ente }} no tiene sistemas identificados</li>
    {% else %}
   <li>Exportar Sistemas de {{ ente }}</li>
   {% endif %}
   {% endwith %}
{% endfor %}
</ul>
{% endblock content %}

