{% extends "comun/base.html" %}
{% load comun_filters %}

{% block content %}

<div class="card m-3">

  <div class="card-header">
    Importar sistemas de información en bloque
  </div>

  <div class="card-body">

<form method="POST" action="."  enctype="multipart/form-data">
{% csrf_token %}

<div class="row">
    <div class="col-2">Archivo CVS</div>
    <div class="col-8">{{ form.archivo }}</div>
    <div class="col-2">
        <input type="submit" name="pb_import" value="Importar fichero">
    </div>
</div>

</form>

  </div>
</div>  
{% endblock content %}

