{% extends "comun/base.html" %}
{% load comun_filters %}

{% block content %}

<div class="card m-3">

  <div class="card-header">
    Importar sistemas de información en bloque
  </div>

  <div class="card-body">

    <table class="table">
      <thead>
        <th>Código / Nombre</th>
        <th>Datos</th>
        <th>Errores</th>
        <th>Selección</th>
      </thead>
      <tbody>
      {% for index, data, pass_minimun, all_errors in sistemas %}<tr>
        <th>
           <b class="sistema-codigo">{{ data.codigo.value }}</b>
           <br>
           {{ data.nombre_sistema.value }}
        </td>  
        <td>
            <ul>
                <li>Finalidad: {{ data.finalidad.value }}</li>
                <li>Materia: {{ data.tema.value }}</li>
                <li>Organismo: {{ data.organismo.value }}
                    ({{ data.organismo.value.dir3 }})</li>
                <li>Responsables tecnológicos:
                    <dl>{% for user in data.responsables_tecnologicos.value %}
                        <dt>{{ user }} ({{ user.login }})</dt>
                        <dd>{{ user.email }}</dd>
                        {% endfor %}</dl>
                </li>
                <li>Responsables funcionales:
                    <dl>{% for user in data.responsables_funcionales.value %}
                        <dt>{{ user }} ({{ user.login }})</dt>
                        <dd>{{ user.email }}</dd>
                        {% endfor %}</dl>
                </li>
        </td>
        <td>
          {% if all_errors %}
            <ul class="error-list">{% for error in all_errors %}
              <li>{{ error }}</li>
            {% endfor %}</ul>
          {% else %}
              Sin errores
          {% endif %}
        </td>

        <td>
          <div class="form-check">
          {% if pass_minimun %}
            <input class="form-check-input" checked
                   id="chk_{{ index }}"
                   name="num" type="checkbox" value="{{ index }}">
            <label for="chk_{{ index }}" class="color-green">
                    Válido
            </label>
            2
            {% include 'sistemas/includes/pb-importar-sistema.html' with sistema=data %}
          {% else %}
            <input class="form-check-input"
                   id="chk_{{ index }}"
                   name="num" type="checkbox" value="{{ index }}">
            <label for="chk_{{ index }}" class="color-red">
                    Inválido
            </label>
          {% endif %}          
          </div>
        </td>
        
      </tr>{% endfor %}    
      </tbody>

    </table>

  </div>
</div>  
{% endblock content %}

