{% extends "comun/base.html" %}
{% load comun_filters %}

{% block content %}

<h3>Se han intentado importar {{ num_sistemas }} sistemas</h3>
<h3>De estos, {{ num_sistemas_correctos }} no presentan problemas</h3>

<div class="card m-3">

  <div class="card-header">
    Importar sistemas de información en bloque
  </div>

  <div class="card-body">

    <table class="table">
      <thead>
        <th>Código / Nombre / UUID</th>
        <th>Necesita actualizar / Datos</th>
        <th>En DB</th>
        <th>Acción</th>
        <th>Errores</th>
      </thead>
      <tbody>
      {% for sistema in sistemas %}<tr>
        <td>
           <b class="sistema-codigo"> {{ sistema.codigo }} </b>
           <br>{{ sistema.nombre_sistema }}
           <br>{% if sistema.uuid %}
                <code>{{ sistema.uuid }}</code>
               {% else %}
                <i class="error">No tiene UUID</i>
               {% endif %}   
        </td>  
        <td>
          {% if sistema.necesita_actualizacion %}
            <b class="green-red">Si</b>
              <dl>{% for name,value in sistema.delta.items %}
                <dt>{{ name }}</dt>
                <dd>Nuevo valor: {{ value }}</dd>
                {% endfor %}</dl>
          {% else %}
            <b class="green-color">No</b>
          {% endif %}
        </td>
        
        <td>
          {% if sistema.sistema_db %}
            <b class="color-green">
                {{sistema.sistema_db.pk}}
            </b>
          {% else %}
            <b class="color-red">NO</b>
          {% endif %}
        </td>

        <td>

            10
          {% include 'sistemas/includes/pb-importar-sistema.html' with sistema=sistema %}  
        </td>

        <td>
          {% if sistema.errores %}
            <b class="red-color">{{ sistema.errores|length }} errores</b>
            <ul class="lista-errores">
              {% for error in sistema.errores %}
                <li>{{ error.as_html|safe }}</li>   
              {% endfor %}
            </ul>
          {% else %}
            <b class="color-green">Sin errores</b>
          {% endif %}
        </td>

        
      </tr>{% endfor %}    
      </tbody>

    </table>

  </div>
</div>  
{% endblock content %}

