{% extends "comun/base.html" %}
{% load static comun_filters %}

{% block content %}

<h2 class="m-2">Hay <b>{{ num_sistemas }}</b> sistemas de información
<br><small>Identificados en el sistema</small>
</h2>
<form method="get">

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Código</th>
      <th colspan="2">Organismo</th>
    </tr>  

    <tr>
      <th>
        {{ filterset.form|as_text_control:"nombre__icontains" }}
      </th>
      <th>
        {{ filterset.form|as_text_control:"codigo__icontains" }}
      </th>
      <th>
        {{ filterset.form|as_text_control:"organismo__nombre_organismo__icontains" }}
      </th>
      <th>
        <input type="submit" value="🔍" />
      </th>
    </tr> 
    
  </thead> 
</table>


<div class="row px-4">
  
{% for sistema in filterset.qs.all %}
<div class="col-sm-12 col-md-4 col-lg-3">

<div class="card">


   <div class="row g-2 card-header">
     <div class="col-md-4">
       <a href="{{ sistema.url_detalle_sistema }}" alt="Ver detalles del S.I. {sistema}">
       <img
       {% if sistema.icono %}
            src="{{ sistema.icono.url }}" 
       {% else %}
            src="{% static 'sistemas/no-logo.png' %}"
       {% endif %}
            class="img-fluid mr-1"
            alt="Logo {{ sistema }}"
            title="Logo {{ sistema }}"
            >
       </a>
    </div>
    <div class="col-md-8">
        <h2 class="sistema-codigo">{{ sistema.codigo }}</h2>
        <h3 class="sistema-nombre">{{ sistema.nombre }}</h3>
      </h2>
    </div>
  </div>

  <div class="card-body">
      <p>
        {% if sistema.organismo %}
        <a href="{% url 'sistemas:detalle_organismo' organismo=sistema.organismo %}">
          {{ sistema.organismo }}
        </a>    
        {% endif %}
      </p>  
    <p class="card-text">
      {{ sistema.descripcion|as_markdown }}
    </p>
    <span class="badge text-bg-primary">
        {{ sistema.tema }}
    </span>
    {% if sistema.es_transversal %}
      <span class="badge text-bg-info">Transversal</span>
    {% endif %}
    {% if sistema.es_subsistema_de %}
    <span class="badge text-bg-warning" title="de {{ sistema.es_subsistema_de }}">
        Subsistema
    </span>
    {% endif %}
  </div>
  <footer class="card-footer">
    <div class="commands">
    <a class="btn bg-info"
       href="{{ sistema.url_detalle_sistema }}"
       alt="Ver detalles del S.I. {sistema}">
        <i class="bi bi-pencil"></i>
        Ver detalles
    </a>
    </div>
    </footer>
</div>
</div>
{% endfor %}
  
  </div>


{% endblock content %}
