{% extends "comun/base.html" %}
{% load comun_filters %}

{% block scripts %}
{{ block.super }}

<script>
    var data = {{ chart | safe }};
    var canvas = document.getElementById("Chart")
    canvas.width  = 800;
    canvas.height = 200;
    var ctx = canvas.getContext('2d');
    var myChart = new Chart(ctx, data);
</script>

{% endblock %}

{% block content %}

<canvas id="Chart" width="100" height="200"></canvas>


<form method="get">

<table class="table table-striped">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nombre</th>
      <th>
        <span title="Directa o indirectamente asociados al ente">
        Nº de Sistemas
        </span>
    </tr>  
  </thead> 
  <tbody>
      {% for ente in entes.all %}
      {% with ente.sistemas_del_ente.count as num_sistemas %}
          
      <tr {% if num.sistemas == 0 %} class="table-danger"{% endif %}>
      <td>
          <code class="id-sistema">
              {{ ente.id_ente }}
          </code>
      </td>
      <td>
        {% if ente.es_de_primer_nivel %}<b>{% else %}&nbsp;{% endif %}
          <a href="{% url 'sistemas:detalle_ente' ente=ente %}">
          {{ ente.organismo.nombre_organismo }}
          </a>
        {% if ente.es_de_primer_nivel %}</b>{% endif %}
      </td>
      <td>
          {% if num_sistemas == 0 %}
          <span class="badge bg-danger">
          {% elif num_sistemas < 3 %}
            <span class="badge bg-warning">
          {% else %}
            <span class="badge bg-success">
          {% endif %}
          {{ num_sistemas }}
            </span>
      </td>
    </tr>
    {% endwith %}
    {% endfor %}
  </tbody>
</table>  
</form>
{% endblock content %}

