{% extends "comun/base.html" %}

{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th>Login</th>  
      <th>Nombre</th>
      <th>Organismo</th>
    </tr>  
  </thead> 
  <tbody>
    {% for usuario in usuarios.all %}<tr>
      <td>
          <a href="{% url 'sistemas:detalle_usuario' usuario=usuario.login %}">  
          <code>
          {{ usuario.login }}
          </code>    
          </a>
      </td>
      <td>{{ usuario.nombre_completo }}</td>
      <td>{{ usuario.organismo }}</td>
    </tr>{% endfor %}
  
  </tbody>
</table>  
{% endblock content %}
