{% extends "comun/base.html" %}
{% load comun_filters %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
{% endblock scripts %}

{% block content %}

<div class="hero">
{{ bar.render|safe }}
</div>

<table class="table table-striped">
  <tbody>
    {% for ente in entes %}<tr>
      <th>{{ ente.pk}}</th>  
      <td>
          <a href="{% url 'sistemas:detalle_organismo' organismo=ente.organismo %}">
          <b>
          {{ ente.organismo.nombre_organismo }}
          </b>
          </a>
      </td>
      <td>
          <span class="dir3">
            {{ ente.organismo.dir3 }}
          </span>    
      </td>
      <td colspan="2">
        {{ ente.organismo.categoria }}
      </td>
    </tr>{% endfor %}
  </tbody>
</table>  

{% endblock content %}
