{% extends "comun/base.html" %}
{% load comun_filters %}

{% block content %}

<form method="get">

  <div class="row justify-content-center m-4">
    <div class="col-md-6">
      <div class="search-container">
        <input type="text"
               name="query"
               value="{{ query }}"            
               class="form-control search-input"
               placeholder="Buscar usuarios">
        <i class="fas fa-search search-icon"></i>
      </div>
    </div>
  </div>

<table class="table table-striped">
  <thead class="table-primary">
    <tr>
      <th>Login</th>  
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Organismo / Empresa</th>
    </tr>  

  </thead> 
  <tbody>
    {% for usuario in filterset.qs.all %}<tr>
      <td>
          <a href="{% url 'sistemas:detalle_usuario' usuario=usuario.login %}">  
          <code>
          {{ usuario.login }}
          </code>    
          </a>
      </td>
      <td>{{ usuario.nombre }}</td>
      <td>{{ usuario.apellidos }}</td>
      <td colspan="2">
          {% if usuario.empresa %}
            {{ usuario.empresa }}
          {% else %}
            {{ usuario.organismo }}
          {% endif %}
      </td>
    </tr>{% endfor %}
  
  </tbody>
</table>  
</form>
{% endblock content %}
