{% extends "comun/base.html" %}
{% load static  comun_filters %}

{% block libs %}
  {{ block.super }}
  <script src="{% static 'lib/pygal-tooltips.js' %}"></script>
{% endblock libs %}


{% block content %}

<div class="hero">
  <figure>
    <img type="image/svg+xml" src="/comun/charts/organismos.svg">
  </figure>
</div>

<table class="table table-striped">
  <tbody>
    {% for item in entes %}<tr>
      <th>{{ item.ente }}</th>  
      <td>
          <a href="{% url 'sistemas:detalle_ente' ente=item.ente %}">
          <b>
          {{ item.nombre_organismo }}
          </b>
          </a>
      </td>
      <td>
        {% if item.num_sistemas < 3 %}
          <span class="badge bg-danger">
        {% else %}
          <span class="badge bg-primary txt-white">
        {% endif %}
        {{ item.num_sistemas }}
          </span>
      </td>
    </tr>{% endfor %}
  </tbody>
</table>  

{% endblock content %}
