{% extends "comun/base.html" %}
{% load sistemas %}

{% block lib %}
  {{ block.super }}
  <script src="{% static 'jib/echart.js' %}"></script>
{% endblock lib %}

{% block scripts %}
function create_doughnut() {

  var node = document.getElementById('doughnut');
  var chart = echarts.init(node);
  var options = {
    'tooltip': {
      'trigger': 'item'
      },
    'legend': {
      'top': '5%',
      'left': 'center'
      },
    'series': [{
      'name': 'Sin tema',
      'type': 'pie',
      'radius': ['40%', '70%'],
      'avoidLabelOverlap': false,
      'label': {
        'show': false,
        'position': 'center'
        },
      'emphasis': {
        'label': {
          'show': true,
          'fontSize': 40,
          'fontWeight': 'bold'
          }
        },
      'labelLine': {
        'show': false
        },
      data: [
        { value: , name: 'Search Engine' },
        { value: 735, name: 'Direct' },
        { value: 580, name: 'Email' },
        { value: 484, name: 'Union Ads' },
        { value: 300, name: 'Video Ads' }
      ]
    }
  ]
};

option && myChart.setOption(option);


{% endblock scripts %}

{% block content %}
    
<div class="container">
  <div class="row align-items-start">

    <div class="col">
      <div class="card">
        <img width="512" height="512"
             class="card-img-top"
             src="/comun/charts/doughnut/?b=0&g={{ con_tema }}&r={{ sin_tema }}">
        <div class="card-body">
          <h2>
              <a href="{% url 'sistemas:sistemas_sin_tema' %}">
              Sistemas pendientes de asignar tema</a>
          <span class="badge bg-secondary">{{ sin_tema }}</span>
          </h2>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
      </div>
    </div>

    <div class="col">
      <div class="card">
      </div>
    </div>

  </div>
</div>

{% endblock content %}
