{% extends "comun/base.html" %}
{% load sistemas %}

{% block content %}
    
<div class="container">
  <div class="row align-items-start">

    <div class="col">
      <div class="card">
        <img width="512" height="512"
             class="card-img-top"
             src="/comun/charts/doughnut/?b=0&g={{ con_tema }}&r={{ sin_tema }}">
        <div class="card-body">
          <h2>
              <a href="{% url 'sistemas:sistemas_sin_tema' %}">
              Sistemas pendientes de asignar tema</a>
          <span class="badge bg-secondary">{{ sin_tema }}</span>
          </h2>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
      </div>
    </div>

    <div class="col">
      <div class="card">
      </div>
    </div>

  </div>
</div>

{% endblock content %}
