{% extends "comun/base.html" %}
{% load static comun_filters sistemas fechas %}

{% block content %}

{% include "sistemas/includes/ficha-sistema.html" %}

{% include "sistemas/includes/tabs.html" with selected='tareas' %}

<div class="card m-2">

  <div class="card-header bg-info">  
    <h5 class="card-title">
      Histórico de eventos
      <span class="badge bg-primary">{{ historico.count }}</span>
    </h5>
  </div>  
  
  <div class="card-body">
    {% include "sistemas/includes/listado-tareas.html" %}
  </div>

</div>  

<dialog id="modal" class="modal fade" tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Añadir tarea al
            <i>backlog</i>.</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
          {{ form.as_div }}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</dialog>

{% endblock content %}
