{% load cards %}

<form method="POST"
      action="{% url 'plan:editar_backlog' backlog=backlog %}">
{% csrf_token %}

<div class="card">
  <div class="card-header">
    <h2 class="card-title h4">
      Editar entrada {{ backlog.pk }}
      del <i>backlog</i> de {{ sistema }}:
      {{backlog}}
    </h2>
  </div>

  <div class="m-2">
    <label for="id_titulo">{{ form.titulo.label }}</label>
    {{ form.titulo }}
    {% if form.titulo.errors %}<ul class="form-errors">
      {% for error_message in form.titulo.errors %}
      <li>{{ error_message }}</li>
      {% endfor %}
    </ul>{% endif %}
   </div>

  <div class="m-2">
    <label for="id_titulo">{{ form.explicacion.label }}</label>
    {{ form.explicacion }}
    {% if form.explicacion.errors %}<ul class="form-errors">
      {% for error_message in form.explicacion.errors %}
      <li>{{ error_message }}</li>
      {% endfor %}
    </ul>{% endif %}
   </div>

  <div class="row">
    <div class="col">

      <div class="m-2">
        <label for="id_titulo">{{ form.prioridad.label }}</label>
        {{ form.prioridad }}
        {% if form.prioridad.errors %}<ul class="form-errors">
          {% for error_message in form.prioridad.errors %}
          <li>{{ error_message }}</li>
          {% endfor %}
        </ul>{% endif %}
      </div>

    </div>
    <div class="col">

        <div class="m-2">
          <label for="id_titulo">{{ form.estimacion.label }}</label>
          {{ form.estimacion }}
          {% if form.estimacion.errors %}<ul class="form-errors">
            {% for error_message in form.estimacion.errors %}
            <li>{{ error_message }}</li>
            {% endfor %}
          </ul>{% endif %}
        </div>

    </div>
    <div class="m-2">
        <input type="submit" value="Editar tarea" name="submit">
    </div>  

  </div>



</div>
</form>
