:root {
  --bs-breadcrumb-font-size: 0.85em;
  --bs-breadcrumb-bg: #101030;
  --bs-breadcrumb-divider: "❭"
}


.atenuado {
  color: #666666;
  font-size: 95%;
}

.bi-exclamation-diamond {
  color: red;
  }

#header {
  display: flex;
  margin-bottom: 3px;
  border: 0px solid red;
  min-height: 80px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2.5px;
  }

#pie {
  line-height: 22px;
}

.titulo-cabecera {
  text-align: right;
  font-size: 90%;
}

#logo {
  border: 0px dashed red;
  max-width: 200px;
  }

#top-menu {
  font-size: 0.8em;
  color: #535353;
  border: 0px dashed green;
  padding-right: 10px;
}

#top-menu a {
  color: #535353!important;
  text-decoration: none!important;
  }

#top-menu a:hover {
  color: #535353!important;
  text-decoration: underline!important;
  }


#top-menu ul {
  list-style-type: none;
  }

#breadcrumbs {
  background-color: #D6D6E0;
}

img.card-top-logo {
  vertical-align: middle;
  border-style: none;
  height: 128px;
  width: 128px;
  }

.just-for-print {
  display: None;
}

#navbar {
  background-color: white;
  margin-bottom: 1ex;
}

#content {
  /*background-color: #C0C0C0;*/
  padding-top: 20pxsistema.;
}

.right-float-menu {
  border: 2px solid #1C6EA4;
  border-radius: 8px 0px 0px 8px;
  position: fixed;
  top: 150px;
  z-index: 1000;
  right: -2px;
  width: 220px;
  background-color: #f2f2f2;*/
  padding: 10px;
  overflow-y: auto;
}

.right-float-menu > .sidebar-title {
  text-align: center;
  background-color: #C2C2C2;
}

.right-float-menu > .sidebar-menu {
  list-style: none;
  margin-left: 0;
  padding-right: 1em;
  text-indent: -1em;
}

.bool-on {
  font-weight: bolder;
  }

.bool-off {
  color: #A0A0A0;
  font-weight: normal;
  }



.dir3 {
  font-family: monospace,courier;
  background-color: white;
  padding: 4px;
  border-radius: 0.4em;
  font-size: 90%;
}

.dir3::before {
  content: "DIR3 ";
  color: gray;
}

.enlace-externo {
  text-decoration: none;
}

.enlace-externo:hover {
  text-decoration: underline;
}

.enlace-externo::before {
  content: "➚"
}

.commands {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: right;
  text-align: right;
  /*border: 1px dotted red;*/
  /*background-color: pink;*/
}

.commands > button {

}

.tema {
  background-color: #0d6efd;
  color: #fff !important;
  padding-top: 0.35em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.35em;
  font-size: 0.75em;
  font-weight: 700;
  border-radius: 1em;
  display: inline-block;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.tema a {
  color: #fff !important;
  text-decoration: none!important;
}


.sistema-codigo {
  text-align: right;
  font-size: 125%;
  font-weight: bolder;
  margin: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 0;
  border: 1px solid #9A9A9A;
  border-radius: 4px;
  text-decoration: none;
  }

.sistema-codigo:hover {
  text-decoration: underline;
  }

.sistema-nombre {
  text-align: right;
  font-size: 90%;
  color: #303030;
  font-weight: normal;
  margin-top: 0;
  padding-top: 0;
  border: 0px dashed green;
}

.clave-primaria {
  padding: 4px;
  font-size: 90%;
  font-family: monospace;
  color: #303030;
  border: 1px solid silver;
}

.clave-externa {
  padding: 4px;
  font-size: 90%;
  font-family: monospace;
  color: #303030;
  border: 1px solid silver;
}

.card-organismo {
  font-size: 80%;
  color: #606060;
}

.card-organismo a {
  text-decoration: none;
  color: #606060;
}

.card-organismo a:hover {
  text-decoration: underline;
  color: #6060A0;
}

.chart-marco {
  width: 100%;
  min-height: 340px;
  max-height: 540px;
  padding-right: 8%;
  padding-left: 8%;
  border: 1px dotted silver;
}

a.email {
  font-family: monospace;
  text-decoration: none;
}

a.email:hover {
  text-decoration: underline;
}


.form-errors {
  color: #aa4400;
  font-weight: bolder;
  font-size: 110%;
}

.color-red {
  color: #aa4400;
}

.color-grey {
  color: #334455;
}

.color-green {
  border: 1px solid #00B894;
  color: #16A085;
  background-color: #A9DFBF;
  padding-top: 1px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 1px;
  border-radius: 2.5px;
  text-decoration: None;
  font-weight: bolder;
}
