:root {
  --bs-breadcrumb-font-size: 0.85em;
  --bs-breadcrumb-bg: #101030;
  --bs-breadcrumb-divider: "❭"
}


.atenuado {
  color: silver;
}


#header {
  display: flex;
  margin-bottom: 3px;
  border: 0px solid red;
  min-height: 80px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2.5px;
  }

#pie {
  line-height: 22px;
}

.titulo-cabecera {
  text-align: right;
  font-size: 90%;
}

#logo {
  border: 0px dashed red;
  max-width: 200px;
  }

#top-menu {
  font-size: 0.8em;
  color: #535353;
  border: 0px dashed green;
  padding-right: 10px;
}

#top-menu a {
  color: #535353!important;
  text-decoration: none!important;
  }

#top-menu a:hover {
  color: #535353!important;
  text-decoration: underline!important;
  }


#top-menu ul {
  list-style-type: none;
  }

#breadcrumbs {
  background-color: #D6D6E0;
}

img.card-top-logo {
  vertical-align: middle;
  border-style: none;
  height: 128px;
  width: 128px;
  }

.just-for-print {
  display: None;
}

#content {
  /*background-color: #C0C0C0;*/
  padding-top: 20px;
}

.right-float-menu {
  border: 2px solid #1C6EA4;
  border-radius: 8px 0px 0px 8px;
  position: fixed;
  top: 150px;
  z-index: 1000;
  right: -2px;
  width: 220px;
  background-color: #f2f2f2;*/
  padding: 10px;
  overflow-y: auto;
}

.right-float-menu > .sidebar-title {
  text-align: center;
  background-color: #C2C2C2;
}

.right-float-menu > .sidebar-menu {
  list-style: none;
  margin-left: 0;
  padding-right: 1em;
  text-indent: -1em;
}
