.login-panel {
    border: 1px solid black;
    width: 550px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
    padding: 1em;
    text-align: center;
    background-color: #E9E9E9;
    box-shadow: 5px 5px 6px #4A4A4A;
}

#logo-gobcan {
  filter: grayscale(0);
}

#logo-gobcan:hover {
  filter: grayscale(0.5);
}
