{% extends "comun/base.html" %}
{% load static comun_filters sistemas %}

{% block content %}

<h2>Ficha Juriscán {{ ficha.pk }}</h2>

<table class="table table-striped">
  <thead>

      <tr>
          <th>Id. Juriscán</th>
          <td>{{ ficha.pk }}</td>
      </tr>

      <tr>
          <th>Título</th>
          <td>{{ ficha.titulo }}</td>
      </tr>

      <tr>
          <th>URL</th>
          <td>
              <a href="{{ ficha.url }}">{{ ficha.url }}</a>
          </td>
      </tr>

      <tr>
          <th>Creado el</th>
          <td>{{ ficha.created }}</td>
      </tr>

      <tr>
          <th>Modificado por última vez</th>
          <td>{{ ficha.updated }}</td>
      </tr>

      <tr>
          <th>Última comprobación</th>
          <td>{{ ficha.updated }}</td>
      </tr>



  </thead>
  <tbody>



    <tr>
      <th>Sistemas vinculados</th>
      <td> {{ num_sistemas|as_badge }} </td>
    </tr>
    {% for sj in ficha.sistemas.all %}<tr>
      <td>
      </td>
      <td>
          <a href="{{ sj.sistema.url_detalle_sistema }}">
           {{ sj.sistema|as_codigo }}</a>
          {{ sj.sistema|as_nombre_sistema }}
      </td>
    </tr>{% endfor %}

  </tbody>
</table>  

{% endblock content %}
